.inp{
    width: 280px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

#inp{
    width: inherit;
    height: 50px;
    padding: 0.7rem 0.3rem;
    z-index: -2;
    border: 0;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.label{
    position: absolute;
    left: 0.3rem;
    top: 13px;
    font-size: 15px;
    transform-origin: 0 0;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
	pointer-events: none;
}

.inp #inp:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp #inp:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--color-accent);
}

.inp #inp:not(:placeholder-shown) + .label, .inp #inp:focus + .label {
    color: var(--color-accent);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

